<div class="modal" tabindex="-1" style="display: block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ grado.id > 0 ? "Editar " : "Agregar " }} grado
                </h5>
                <button
                    (click)="onOpen()"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit(gradoForm)" #gradoForm="ngForm">
                    <div>
                        <p>Grado</p>
                        <input
                            placeholder="Grado"
                            name="Nombre"
                            [(ngModel)]="grado.nombre"
                            class="form-control my-2"
                            required
                            #gradoNgModel="ngModel"
                        />
                        @if(gradoNgModel.invalid && (gradoNgModel.dirty ||
                        gradoNgModel.touched)){
                        @if(gradoNgModel.errors!['required']){
                        <div class="alert alert-danger">Grado requerido</div>
                        } }
                    </div>
                    <div class="row justify-content-between mt-3">
                        <div class="col-4">
                            <button
                                type="submit"
                                class="btn btn-primary w-100"
                                [disabled]="gradoForm.invalid"
                            >
                                {{ grado.id > 0 ? "Modificar" : "Agregar" }}
                            </button>
                        </div>
                        <div class="col-4">
                            <button
                                type="button"
                                class="btn btn-secondary w-100"
                                data-bs-dismiss="modal"
                                (click)="onOpen()"
                            >
                                Cerrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
