@import "leaflet/dist/leaflet.css";

.marker-cluster {
    background-color: rgba(0, 123, 255, 0.8) !important; /* fondo azul */
    color: white !important;
    border-radius: 50%;
    border: 2px solid white;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 5px #333;
}

.marker-cluster div {
    background-color: transparent !important;
}
#map {
    z-index: 0 !important;
}
