.chartsEstado {
    position: relative;
    z-index: 0;

    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    height: 580px;
    padding-top: 30px;
}
.chartsEstado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/fondoMetalico2.png");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}
/* .backDashboard {
    z-index: 1;
}
.backDashboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1150px;
    background-image: url("../../../assets/img/fondoMetalico2.png");
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
} */
