.titulo {
  background-image: url("../../../../../assets/img/pixelado.jpg");
  background-repeat: repeat;
  background-size: 30%;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Ancizar Serif";
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}
td,
th {
  vertical-align: middle;
}
